@font-face {
    font-family: hpro;
    src: url("../assets/fonts/HiraKakuPro-W6.woff2") format("woff2"),
        url("../assets/fonts/HiraKakuPro-W6.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: hpron;
    src: url('../assets/fonts/HiraKakuProN-W3.woff2') format('woff2'),
        url('../assets/fonts/HiraKakuProN-W3.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}