.c-scroll {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 10;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;

    &.is-active {
        opacity: 1;
        visibility: visible;
    }

    @include mq(lg, max) {
        display: none;
    }

    &:hover {
        opacity: 1;
    }

    &:hover> &__btn {
        background-color: #40a62a;
    }

    &__btn {
        width: 70px;
        height: 70px;
        margin: auto;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease;

        span {
            font-size: 2.6rem;
            line-height: 0.8;
            font-weight: bold;
            text-align: center;
        }

        p {
            font-size: 1.4rem;
            letter-spacing: 2.8px;
            line-height: 1;
            font-weight: bold;
            text-align: center;
        }
    }

    > figure {
        display: flex;
        margin-left: -8px;
        animation: topDown 2s linear infinite;
    }
}

@keyframes topDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}
