//baseWidth
$base-width: 1920px;

$main-fonts: "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", Lora,
    "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Yu Mincho", "メイリオ", "Meiryo", sans-serif;

//color common
$main-text-cl: #333;
$black-cl: #000;
$white-cl: #fff;
$gray-cl: #d3d3d3;
