//baseWidth
$base-width: 1920px;

$main-fonts: "Noto Sans JP", "Noto Serif JP", "Noto Serif JP", "Noto Serif JP",
    "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic,
    "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo,
    "ＭＳ Ｐゴシック", "MS PGothic", "Roboto", "Oswald", sans-serif;

//color common
$main-text-cl: #000;
$black-cl: #000;
$white-cl: #fff;
$gray-cl: #ede;
