/* Header
------------------------------------------------------------*/
.c-header {
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba($color: $white-cl, $alpha: 0.8);
    z-index: 100;

    @include mq(lg, max) {
        height: 90px;
        background-color: $white-cl;
    }

    @include mq(md, max) {
        height: 45px;
    }

    .l-container {
        max-width: 1580px;
        margin: 0 0 0 auto;
        padding-left: 20px;
        width: 100%;

        @include mq(lg, max) {
            padding: 0 40px;
            width: 100%;
        }

        @include mq(md, max) {
            padding: 0 20px;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;

        @include mq(lg, max) {
            display: none;
        }
    }

    &__logo {
        a {
            display: flex;
            align-items: center;

            span {
                font-size: 1.8rem;
                line-height: 4.4;
                font-weight: bold;
                margin-left: 13px;
            }
        }

        @include mq(xl, max) {
            a {
                height: 100%;
                margin-top: 2px;

                span {
                    margin-left: 10px;
                    font-size: 1.2rem;
                }

                img {
                    width: 120px;
                    height: 30px;
                }
            }
        }
    }

    &__nav {
        ul {
            display: flex;
            align-items: center;
            height: 80px;

            li {
                height: 100%;
                @include mid(true);
                text-align: center;
                position: relative;
            }
        }
    }

    &__item {
        a {
            font-size: 1.6rem;
            line-height: 1.75;
            font-weight: 400;
            letter-spacing: 1.6px;
            padding: 0 18px;
            background-image: none;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 70%;
            transition: all 0.5s ease-in-out;

            &:hover {
                background-image: url("../../assets/img/logo-hover.png");
                background-size: 50%;
            }

            @include mq(xl, max) {
                padding: 0 10px;
            }
        }

        &--green {
            width: 140px;
            background-color: #40a62a;

            a {
                padding: 0;
                width: 100%;
                height: 100%;
                line-height: 80px;
                color: $white-cl;

                &:hover {
                    background-image: none !important;
                }
            }
        }

        &--blue {
            width: 140px;
            background-color: #48b7d0;

            a {
                padding: 0 !important;
                width: 100%;
                height: 100%;
                line-height: 80px;
                color: $white-cl;

                &:hover {
                    background-image: none !important;
                }
            }
        }

        @include mq(xl, max) {
            &--blue,
            &--green {
                width: 130px;
            }
        }
    }

    &__item:hover>&__nested {
        visibility: visible;
        opacity: 1;
        top: 80px;
    }

    &__nested {
        position: absolute;
        top: 70px;
        width: 280px;
        background-color: rgba(0, 0, 0, 0.8);
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.53);
        transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);

        visibility: hidden;
        opacity: 0;
        z-index: 1;

        ul {
            flex-direction: column;
            height: auto;

            li {
                padding: 0 15px;
                width: 100%;
            }
        }
    }

    &__nesteditem {
        a {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid rgba(183, 183, 183, 0.27);
            padding: 15px 0;
            width: 100%;
            font-weight: 400;

            &:hover {
                background-image: none;
            }

            p {
                font-size: 1.6rem;
                line-height: 2;
                color: $white-cl;
                letter-spacing: 1.6px;
            }

            figure {
                display: flex;
                align-items: center;
            }
        }

        &:last-child a {
            border-bottom: none;
        }
    }

    /* --------------------------------- MENU SP -------------------------------- */
    &__wrappersp {
        display: none;

        @include mq(lg, max) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 90px;
        }

        @include mq(md, max) {
            height: 45px;
        }
    }

    &__logosp {
        a {
            figure {
                display: flex;

                @include mq(md, max) {
                    width: 162px;
                    height: 23px;
                }
            }
        }
    }

    &__imgsp {
        width: 100%;
        height: 100%;
    }

    &__navsp {
        label {
            display: flex;
            cursor: pointer;

            @include mq(md, max) {
                width: 32px;
                height: 25px;
            }

            &:hover {
                opacity: 1;
            }
        }
    }

    /* ------------------------------- CHECK MENU ------------------------------- */
    &__iconsp {
        &:checked~label {
            img:nth-child(1) {
                display: none;
            }

            img:nth-child(2) {
                display: block;
            }
        }

        ~label {
            img:nth-child(1) {
                display: block;
            }

            img:nth-child(2) {
                display: none;
            }
        }

        &:checked~.p-menu {
            opacity: 1;
            visibility: visible;
            transform: translateX(0);
        }
    }

    &__menu {
        position: absolute;
        top: 90px;
        left: 0;
        right: 0;
        background-color: $white-cl;
        height: calc(100vh - 90px);
        padding-top: 30px;
        overflow-y: auto;
        transition: all 0.3s ease-in-out;

        opacity: 0;
        visibility: hidden;
        transform: translateX(-100%);

        @include mq(md, max) {
            top: 45px;
            padding-top: 15px;
            height: calc(100vh - 45px);
        }
    }

    &__contact {
        text-align: center;
        border-bottom: 1px dotted #ccc;
        padding: 0 40px;

        @include mq(md, max) {
            padding: 0 20px;
        }
    }

    &__address {
        font-size: 2.8rem;
        line-height: 1.45;
        letter-spacing: 2.8px;

        @include mq(md, max) {
            letter-spacing: 1.4px;
        }
    }

    &__tel {
        font-size: 3rem;
        font-family: Lora, sans-serif;
        line-height: 1.7;
        letter-spacing: 3px;

        span {
            display: inline-block;
            font-size: 3.6rem;
            font-family: Lora, sans-serif;
            letter-spacing: 3.6px;
        }

        @include mq(md, max) {
            letter-spacing: 1.5px;

            span {
                letter-spacing: 1.8px;
            }
        }
    }

    &__fax {
        font-size: 2.4rem;
        font-family: Lora, sans-serif;
        line-height: 2.125;
        letter-spacing: 2.4px;

        @include mq(md, max) {
            letter-spacing: 1.2px;
        }
    }

    &__list {
        ul {
            li {
                border-bottom: 1px dotted #ccc;
            }
        }

        &.is-navsub1>ul:first-child {
            display: none;
        }

        &.is-navsub2>ul:first-child {
            display: none;
        }

        p {
            display: none;
            cursor: pointer;

            &:hover {
                opacity: 0.7;
            }
        }

        &.is-navsub1>p,
        &.is-navsub2>p {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 3rem;
            color: $white-cl;
            background-color: $main-text-cl;
            border-bottom: 1px dotted #ccc;
            line-height: 1.2;
            letter-spacing: 3px;
            padding: 20px 40px;

            span {
                display: flex;
                align-items: center;
                font-size: 3.6rem;
                font-weight: bold;
                color: $white-cl;
                line-height: 1;
                margin-top: -7px;
                margin-right: 20px;
            }

            @include mq(md, max) {
                letter-spacing: 1.5px;
                padding: 10px 20px;

                span {
                    margin-top: -3.5px;
                    margin-right: 10px;
                }
            }
        }

        .p-navsub1 {
            display: none;
        }

        .p-navsub2 {
            display: none;
        }

        &.is-navsub1>.p-navsub1 {
            display: block;
        }

        &.is-navsub2>.p-navsub2 {
            display: block;
        }
    }

    &__itemsp {
        &--green {
            background-color: #40a62a;

            a {
                color: $white-cl;

                span {
                    color: $white-cl;
                }
            }
        }

        &--blue {
            background-color: #44b8d1;

            a {
                color: $white-cl;

                span {
                    color: $white-cl;
                }
            }
        }
    }

    &__linksp {
        display: flex;
        align-items: center;
        font-size: 3rem;
        color: $black-cl;
        line-height: 1.2;
        letter-spacing: 3px;
        padding: 20px 40px;

        span {
            display: flex;
            align-items: center;
            font-size: 3.6rem;
            font-weight: bold;
            color: #44b8d1;
            line-height: 1;
            margin-top: -7px;
            margin-right: 20px;
        }

        @include mq(md, max) {
            padding: 10px 20px;
            letter-spacing: 1.5px;

            span {
                margin-top: -3.5px;
                margin-right: 10px;
            }
        }
    }
}
