.p-forest {
  padding-top: 100px;
  @include mq(md, max) {
    padding-top: 50px;
  }

  .p-forest__container {
    background-image: url(../images/banner/bg_forest.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 462px;
    @include mq(lg, max) {
      background-image: url(../images/banner/bg_forest_full.jpg);
      height: 900px;
    }
    @include mq(md, max) {
      // background-image: url(../images/banner/bg_forest_sp.jpg);
      height: 554px;
    }
  }

  & > a {
    font-size: 1.8rem;
    letter-spacing: 1.8px;
    font-weight: bold;
    line-height: 0.9;
    color: #000000;
    text-align: center;
    padding: 30px 0;
    @include mq(md, max) {
      font-size: 2.8rem;
      letter-spacing: 1.4px;
      line-height: 1;
      padding: 25px 0;
    }
  }

  .p-forest__wrapper {
    display: flex;
    max-width: 1200px;
    margin: auto;
    height: 100%;
    position: relative;
    @include mq(lg, max) {
      flex-direction: column;
      justify-content: center;
    }
    & > .p-forest__flycam {
      width: 50%;
      position: relative;
      z-index: 1;
      pointer-events: none;
      @include mq(lg, max) {
        width: 100%;
        margin-bottom: 50px;
      }
      @include mq(md, max) {
        margin-bottom: 0;
      }
      & > figure {
        display: flex;
        position: absolute;
        top: -45px;
        left: -317px;
        width: 1065px;
        animation: flycam 5s linear infinite;
        @include mq(lg, max) {
          position: relative;
          top: auto;
          left: auto;
          width: 768px;
          margin-left: auto;
          margin-right: auto;
        }
        @include mq(md, max) {
          width: 335px;
        }
        & > img {
          @include mq(lg, max) {
            margin-left: -20px;
          }
          @include mq(md, max) {
            margin-left: -9px;
          }
        }
        & > img:nth-child(1) {
          @include mq(md, max) {
            display: none;
          }
        }
        & > img:nth-child(2) {
          display: none;
          @include mq(md, max) {
            display: block;
          }
        }
      }
    }
    & > .p-forest__content {
      width: 50%;
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      z-index: 2;
      @include mq(xxl, max) {
        padding-right: 20px;
      }
      @include mq(lg, max) {
        width: 100%;
        max-width: 808px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 20px;
      }
      @include mq(md, max) {
        max-width: 100%;
        padding: 0 19px;
      }
      & > h2 {
        font-size: 2.4rem;
        letter-spacing: 2.4px;
        line-height: 1.5;
        color: #ffffff;
        font-weight: bold;
        max-width: 410px;
        margin-left: -2px;
        @include mq(md, max) {
          font-size: 3.2rem;
          letter-spacing: 1px;
          max-width: 100%;
          margin-left: 0;
        }
        & > span {
          display: inline-block;
          font-size: 2.4rem;
          letter-spacing: 2.4px;
          line-height: 1.5;
          color: #ff9900;
          font-weight: bold;
          @include mq(md, max) {
            font-size: 3.2rem;
            letter-spacing: 1.6px;
          }
        }
      }

      & > .p-forest__info {
        font-size: 1.4rem;
        letter-spacing: 1.4px;
        line-height: 2;
        color: #ffffff;
        margin: 20px 0;
        @include mq(md, max) {
          font-size: 2.4rem;
          line-height: 1.7;
          letter-spacing: 0.3px;
          margin-top: 22px;
          margin-bottom: 12px;
        }
      }

      & > p {
        font-size: 1.2rem;
        // letter-spacing: 1.2px;
        line-height: 2;
        color: #ffffff;
        @include mq(md, max) {
          font-size: 2.4rem;
          letter-spacing: 0;
          line-height: 1.7;
        }
        & > span {
          display: inline-block;
          font-size: 1.2rem;
          // letter-spacing: 1.2px;
          line-height: 2;
          color: #ff9900;
          @include mq(md, max) {
            font-size: 2.4rem;
            letter-spacing: 1.2px;
            line-height: 1.7;
          }
        }
      }
    }
    & > .p-forest__reddot {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      & > figure {
        display: flex;
        & > img:nth-child(1) {
          @include mq(lg, max) {
            display: none;
          }
        }
        & > img:nth-child(2) {
          display: none;
          @include mq(lg, max) {
            display: block;
            height: 850px;
          }
          @include mq(md, max) {
            height: 524px;
          }
        }
      }
    }
  }
}

@keyframes flycam {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
