.p-intro {
  padding-top: 50px;

  @include mq(md, max) {
    padding-top: 40px;
    margin-top: 135px;
  }

  .p-intro__container {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;

    @include mq(xl, max) {
      max-width: 992px;
      padding: 0 15px;
    }

    @include mq(lg, max) {
      max-width: 600px;
      padding: 0 15px;
    }

    @include mq(md, max) {
      max-width: 375px;
      padding: 0 20px;
    }
  }

  .p-intro__heading {
    text-align: center;
    margin-bottom: 36px;
    @include mq(md, max) {
      margin-bottom: 20px;
    }
    & > .p-intro__logo {
      display: flex;
      justify-content: center;
      width: 40px;
      height: 25px;
      margin: auto;
      margin-bottom: -3px;
      @include mq(md, max) {
        width: 35px;
        height: 22px;
        margin-bottom: 0;
      }
    }
    & > h2 {
      font-size: 2.4rem;
      font-weight: bold;
      line-height: 2;
      letter-spacing: 2.4px;
      @include mq(md, max) {
        font-size: 3.6rem;
        letter-spacing: 1.8px;
        line-height: 1;
        margin-top: 10px;
        margin-bottom: 18px;
      }
    }
    & > p {
      font-size: 1.4rem;
      line-height: 2;
      letter-spacing: 1.4px;
      max-width: 500px;
      margin: auto;
      margin-top: 10px;
      @include mq(lg, max) {
        max-width: 100%;
        margin: auto;
      }
      @include mq(md, max) {
        font-size: 2.8rem;
        letter-spacing: 0;
        line-height: 1.7;
        text-align: center;
        margin-top: 0;
      }
    }
  }

  .p-intro__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;

    @include mq(xl, max) {
      margin: -7.5px;
    }

    @include mq(lg, max) {
      margin: -15px;
    }

    @include mq(md, max) {
      margin: -10px;
    }

    & > li {
      width: 25%;
      padding: 15px;
      @include mq(xl, max) {
        padding: 7.5px;
      }

      @include mq(lg, max) {
        width: 50%;
        padding: 15px;
      }

      @include mq(md, max) {
        padding: 10px;
      }

      @for $i from 1 through 4 {
        &:nth-child(#{$i}) > a {
          background-image: url(../images/intro/intro_item#{$i}.jpg);
        }
      }

      &:nth-child(odd) > a {
        &::before {
          content: "";
          position: absolute;
          top: 0;
          right: -140px;
          border-width: 225px 135px;
          border-style: solid;
          border-color: rgba(255, 255, 255, 0.7) rgba(255, 255, 255, 0.7)
            transparent transparent;
          transition: all 0.3s ease-in-out;
          @include mq(xl, max) {
            right: -120px;
            border-width: 191px 115px;
          }
          @include mq(lg, max) {
            right: -140px;
            border-width: 225px 135px;
          }
          @include mq(md, max) {
            right: -80px;
            border-width: 113px 79px;
          }
        }
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          border-width: 225px 135px;
          border-style: solid;
          border-color: transparent transparent rgba(255, 255, 255, 0.7)
            rgba(255, 255, 255, 0.7);
          transition: all 0.3s ease-in-out;
          @include mq(xl, max) {
            border-width: 191px 115px;
          }
          @include mq(lg, max) {
            border-width: 225px 135px;
          }
          @include mq(md, max) {
            border-width: 113px 79px;
          }
        }
        &:hover {
          background-size: 110%;
          opacity: 1;
          &::before {
            top: -50%;
            right: -50%;
            border-color: rgba(255, 255, 255, 1) rgba(255, 255, 255, 1)
              transparent transparent;
          }
          &::after {
            bottom: -50%;
            left: -50%;
            border-color: transparent transparent rgba(255, 255, 255, 1)
              rgba(255, 255, 255, 1);
          }
        }
      }

      &:nth-child(even) > a {
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: -140px;
          border-width: 225px 135px;
          border-style: solid;
          border-color: rgba(255, 255, 255, 0.7) transparent transparent
            rgba(255, 255, 255, 0.7);
          transition: all 0.3s ease-in-out;
          @include mq(xl, max) {
            left: -120px;
            border-width: 191px 115px;
          }
          @include mq(lg, max) {
            left: -140px;
            border-width: 225px 135px;
          }
          @include mq(md, max) {
            left: -80px;
            border-width: 113px 79px;
          }
        }
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          right: 0;
          border-width: 225px 135px;
          border-style: solid;
          border-color: transparent rgba(255, 255, 255, 0.7)
            rgba(255, 255, 255, 0.7) transparent;
          transition: all 0.3s ease-in-out;
          @include mq(xl, max) {
            border-width: 191px 115px;
          }
          @include mq(lg, max) {
            border-width: 225px 135px;
          }
          @include mq(md, max) {
            border-width: 113px 79px;
          }
        }
        &:hover {
          background-size: 110%;
          opacity: 1;
          &::before {
            top: -50%;
            left: -50%;
            border-color: rgba(255, 255, 255, 1) transparent transparent
              rgba(255, 255, 255, 1);
          }
          &::after {
            bottom: -50%;
            right: -50%;
            border-color: transparent rgba(255, 255, 255, 1)
              rgba(255, 255, 255, 1) transparent;
          }
        }
      }

      & > a {
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        height: 450px;
        position: relative;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        @include mq(xl, max) {
          height: 382px;
          padding: 7.5px;
        }
        @include mq(lg, max) {
          height: 450px;
          padding: 15px;
        }
        @include mq(md, max) {
          height: 225px;
          padding: 15px;
        }
        & > .p-intro__label {
          min-height: 120px;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 20px 10px;
          z-index: 1;
          @include mq(xl, max) {
            min-height: 90px;
            padding: 10px 5px;
          }
          @include mq(lg, max) {
            min-height: 120px;
            padding: 20px 10px;
          }
          @include mq(md, max) {
            min-height: 86px;
            padding: 15px 0;
          }
          & > figure {
            display: flex;
            justify-content: center;
          }
          & > span {
            font-size: 1.8rem;
            letter-spacing: 3.6px;
            line-height: 1;
            color: #ffffff;
            @include mq(md, max) {
              font-size: 2.8rem;
              letter-spacing: 1.4px;
            }
          }
          &.p-intro__label--red {
            background-color: #d05e48;
            & > figure {
              @include mq(md, max) {
                width: 30px;
                height: 28px;
                margin-left: auto;
                margin-right: auto;
              }
            }
          }
          &.p-intro__label--blue {
            background-color: #48b7d0;
            & > figure {
              @include mq(md, max) {
                width: 70.5px;
                height: 32.5px;
                margin-left: auto;
                margin-right: auto;
              }
            }
          }
          &.p-intro__label--yellow {
            background-color: #a68a2a;
            & > figure {
              @include mq(md, max) {
                width: 22px;
                height: 28px;
                margin-left: auto;
                margin-right: auto;
              }
            }
          }
          &.p-intro__label--green {
            background-color: #40a62a;
            & > figure {
              @include mq(md, max) {
                width: 28px;
                height: 28px;
                margin-left: auto;
                margin-right: auto;
              }
            }
          }
        }
      }
    }
  }
}
