.p-news {
  padding-top: 50px;
  @include mq(md, max) {
    padding-top: 40px;
  }

  .p-news__container {
    max-width: 640px;
    margin: auto;
    padding: 0 20px;
  }

  .p-news__heading {
    text-align: center;
    margin-bottom: -2px;

    @include mq(md, max) {
      margin-bottom: 0;
    }

    & > .p-news__logo {
      display: flex;
      justify-content: center;
      width: 40px;
      height: 25px;
      margin: auto;
      margin-bottom: -3px;
      @include mq(md, max) {
        width: 35px;
        height: 22px;
        margin-bottom: 0;
      }
    }
    & > h2 {
      font-size: 2.4rem;
      font-weight: bold;
      line-height: 2;
      letter-spacing: 2.4px;
      @include mq(md, max) {
        font-size: 3.6rem;
        letter-spacing: 1.8px;
        line-height: 1;
        margin-top: 9px;
        margin-bottom: 22px;
      }
    }
  }

  .p-news__list {
    & > li {
      &:first-child > a {
        @include mq(md, max) {
          border-top: 1px solid rgb(204, 204, 204);
        }
      }
      & > a {
        display: flex;
        position: relative;
        border-bottom: 1px solid rgb(204, 204, 204);
        padding: 12.5px 10px;
        &:hover {
          background-color: rgb(245, 245, 245);
          opacity: 1;
        }
        @include mq(md, max) {
          flex-direction: column;
          justify-content: space-between;
          padding: 10px 0;
        }
        & > .p-news__date {
          font-size: 1.4rem;
          letter-spacing: 1px;
          line-height: 2;
          color: #48b7d0;
          min-width: 141px;
          @include mq(md, max) {
            min-width: auto;
            font-size: 2.4rem;
            letter-spacing: 1.2px;
          }
        }

        & > p {
          font-size: 1.4rem;
          letter-spacing: 1.4px;
          line-height: 2;
          max-width: 400px;
          @include mq(md, max) {
            font-size: 2.4rem;
            letter-spacing: 1.2px;
            line-height: 1.7;
            max-width: 100%;
            padding-right: 40px;
          }
        }

        & > span {
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 1.8rem;
          letter-spacing: 1.8px;
          font-weight: bold;
          line-height: 1;
          color: #48b7d0;
          @include mq(md, max) {
            right: 0;
            font-size: 3rem;
            letter-spacing: 1.5px;
          }
        }
      }
    }
  }

  & > a {
    background-color: #d3d3d3;
    font-size: 1.8rem;
    letter-spacing: 1.8px;
    line-height: 76px;
    font-weight: bold;
    text-align: center;
    margin-top: 31px;
    margin-left: 10px;
    @include mq(md, max) {
      font-size: 2.8rem;
      letter-spacing: 1.4px;
      line-height: 54px;
      margin-top: 20px;
      margin-left: 0;
    }
  }
}
