@mixin c-title-section {
    font-size: 47px;
    font-family: $font-family-en;
    font-weight: 200;
}
@mixin u-underline {
    width: 57px;
    height: 2px;
    margin: 20px 0;
    background: #918c8a;
}