// =========================================================
// color - 色の設定
// =========================================================

// ---------------------------------------------------------------
//  ■サイトのメインカラーなどの指定
//  わかりやすいように名称は適宜変更してください。
// ---------------------------------------------------------------
$base-font-color: #333333;
$sub-font-color: #ffffff;
$primary-color: #000;
$secondary-color: #000;
$tertiary-color: #000;
$primary-accent-color: #000;
$secondary-accent-color: #000;
$tertiary-accent-color: #000;
$link-color: #000;

$main-header-height: 80px;
$sub-header-height: 60px;

$sp-header-height: 45px;
