<header class="c-header">
  <div class="c-header__container">
    <div class="c-header__wrapper">
      <div class="c-header__logo">
        <a href="/">
          <figure>
            <img src="./assets/images/logoIST.png" alt="logoIST" />
          </figure>
          <figure>
            <img src="./assets/images/logoIST_fixed.png" alt="logoIST_fixed" />
          </figure>
          <span>総合建設コンサルタント</span>
        </a>
      </div>
      
      <div class="c-header__nav">
        <ul>
          <li><a href="#">会社案内</a></li>
          <li>
            <a href="#">事業紹介</a>
            <div class="c-header__navDropdown">
              <ul>
                <li>
                  <a href="#">
                    <p>防災・減災業務</p>
                    <figure>
                      <img
                        src="./assets/images/angle-right.png"
                        alt="angleRight"
                      />
                    </figure>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <p>ICT・BIM/CIM</p>
                    <figure>
                      <img
                        src="./assets/images/angle-right.png"
                        alt="angleRight"
                      />
                    </figure>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <p>測量・設計業務</p>
                    <figure>
                      <img
                        src="./assets/images/angle-right.png"
                        alt="angleRight"
                      />
                    </figure>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <p>調査業務</p>
                    <figure>
                      <img
                        src="./assets/images/angle-right.png"
                        alt="angleRight"
                      />
                    </figure>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li><a href="#">実績紹介</a></li>
          <li><a href="#">技術資料</a></li>
          <li class="c-header__nav--green">
            <a href="#">技術資料</a>
            <div class="c-header__navDropdown">
              <ul>
                <li>
                  <a href="#">
                    <p>私たちの仕事</p>
                    <figure>
                      <img
                        src="./assets/images/angle-right.png"
                        alt="angleRight"
                      />
                    </figure>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <p>先輩社員の声</p>
                    <figure>
                      <img
                        src="./assets/images/angle-right.png"
                        alt="angleRight"
                      />
                    </figure>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <p>募集要項</p>
                    <figure>
                      <img
                        src="./assets/images/angle-right.png"
                        alt="angleRight"
                      />
                    </figure>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="c-header__nav--blue">
            <a href="./contact.html">お問い合わせ</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="c-header__wrapperSp">
      <div class="c-header__logoSp">
        <a href="#">
          <figure>
            <img src="./assets/images/logoIST_sp.png" alt="logoIST_sp" />
          </figure>
        </a>
      </div>
      <div class="c-header__navSp">
        <input id="showMenu" type="checkbox" hidden />
        <label for="showMenu">
          <img src="./assets/images/menu_open.png" alt="menu_open" />
          <img src="./assets/images/menu_close.png" alt="menu_close" />
        </label>
        <div class="c-header__navMenu">
          <div class="c-header__navContact">
            <p class="c-header__navAddress">
              〒860-0833　熊本市中央区平成3丁目16番13号
            </p>
            <a class="c-header__navTel" href="tel:0962855177"
              >tel.<span>096-285-5177</span></a
            >
            <p class="c-header__navFax">fax.096-285-5188</p>
          </div>
          <div class="c-header__navList">
            <ul>
              <li>
                <a href="#"><span>></span>お知らせ</a>
              </li>
              <li>
                <a href="#"><span>></span>会社案内</a>
              </li>
              <li>
                <a href="#" id="show-navSub1"><span>+</span>事業紹介</a>
              </li>
              <li>
                <a href="#"><span>></span>実績紹介</a>
              </li>
              <li>
                <a href="#"><span>></span>技術資料</a>
              </li>
              <li>
                <a href="#"><span>></span>交通アクセス</a>
              </li>
              <li>
                <a href="#"><span>></span>プライバシーポリシー</a>
              </li>
              <li class="c-header__navItem--green">
                <a href="#" id="show-navSub2"><span>+</span>採用情報</a>
              </li>
              <li class="c-header__navItem--blue">
                <a href="#"><span>></span>お問い合わせ</a>
              </li>
            </ul>
            <p id="goBack"><span>&lt;</span>戻る</p>
            <ul class="c-header__navSub1">
              <li>
                <a href="#"><span>></span>事業紹介（インデックス）</a>
              </li>
              <li>
                <a href="#"><span>></span>防災・減災業務</a>
              </li>
              <li>
                <a href="#"><span>></span>ICT・BIM/CIM</a>
              </li>
              <li>
                <a href="#"><span>></span>測量・設計業務</a>
              </li>
              <li>
                <a href="#"><span>></span>調査業務</a>
              </li>
            </ul>
            <ul class="c-header__navSub2">
              <li>
                <a href="#"><span>></span>私たちの仕事</a>
              </li>
              <li>
                <a href="#"><span>></span>先輩社員の声</a>
              </li>
              <li>
                <a href="#"><span>></span>募集要項</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
