<!-- FOOTER -->
<footer class="c-footer">
    <div class="c-footer__bg">
        <div class="c-footer__left">
            <figure>
                <img src="./assets/img/footer-left.png" alt="bg-left">
            </figure>
        </div>
        <div class="c-footer__center"></div>
        <div class="c-footer__right">
            <figure>
                <img src="./assets/img/footer-right.png" alt="bg-right">
            </figure>
        </div>
    </div>

    <div class="l-container">
        <div class="c-footer__wrapper">
            <div class="c-footer__protect">
                <h2>Protect <span>the</span>future</h2>
                <p>防災技術を駆使し、地域の未来を守る。</p>
            </div>

            <div class="c-footer__content">
                <a href="#">
                    <figure>
                        <img src="./assets/img/footer-logo.png" alt="logo-footer">
                    </figure>
                </a>

                <h2>総合建設コンサルタント <span>株式会社アイエステー(IST)</span></h2>
                <p class="c-footer__address">
                    〒860-0833　熊本市中央区平成3丁目16番13号
                </p>
                <a class="c-footer__tel" href="tel:0962855177">tel.<span>096-285-5177</span></a>
                <p class="c-footer__fax">fax.096-285-5188</p>
                <div class="c-footer__access">
                    <a href="#">交通アクセス <span>></span></a>
                    <a href="#">プライバシーポリシー <span>></span></a>
                </div>
                <p class="c-footer__copyright">
                    Copyright © IST CO., LTD. All Rights Reserved.
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- end footer -->