<!-- ------------------------------- HEADER -------------------------------- -->
<header class="c-header">
  <div class="l-container">
    <div class="c-header__wrap">
      hello
    </div>
  </div>
</header>