<!-- ------------------------------- HEADER -------------------------------- -->
<header class="c-header">
  <div class="l-container">
    <!-- NAV PC -->
    <div class="c-header__wrapper pc-only">
      <div class="c-header__logo">
        <a href="/">
          <figure>
            <img src="./assets/img/header-logo.png" alt="logo">
          </figure>
          <span>総合建設コンサルタント</span>
        </a>
      </div>

      <nav class="c-header__nav">
        <ul>
          <li class="c-header__item"><a href="#">会社案内</a></li>
          <li class="c-header__item">
            <a href="#">事業紹介</a>
            <div class="c-header__nested">
              <ul>
                <li>
                  <a href="#">
                    <p>防災・減災業務</p>
                    <figure>
                      <img src="./assets/img/angle-right.png" alt="angle-right">
                    </figure>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <p>ICT・BIM/CIM</p>
                    <figure>
                      <img src="./assets/img/angle-right.png" alt="angle-right">
                    </figure>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <p>測量・設計業務</p>
                    <figure>
                      <img src="./assets/img/angle-right.png" alt="angle-right">
                    </figure>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <p>調査業務</p>
                    <figure>
                      <img src="./assets/img/angle-right.png" alt="angle-right">
                    </figure>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="c-header__item"><a href="#">実績紹介</a></li>
          <li class="c-header__item"><a href="#">事業紹介</a></li>
          <li class="c-header__item c-header__item--green">
            <a href="#">技術資料</a>
            <div class="c-header__nested">
              <ul>
                <li>
                  <a href="#">
                    <p>私たちの仕事</p>
                    <figure>
                      <img src="./assets/img/angle-right.png" alt="angle-right">
                    </figure>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <p>先輩社員の声</p>
                    <figure>
                      <img src="./assets/img/angle-right.png" alt="angle-right">
                    </figure>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <p>募集要項</p>
                    <figure>
                      <img src="./assets/img/angle-right.png" alt="angle-right">
                    </figure>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="c-header__item c-header__item--blue"><a href="./contact.html">お問い合わせ</a></li>
        </ul>
      </nav>
    </div>

    <!-- NAV SP -->
    <div class="c-header__wrappersp sp-only">
      <div class="c-header__logosp">
        <a href="#">
          <figure>
            <img src="./assets/img/header-logo-sp.png" alt="logo-sp">
          </figure>
        </a>
      </div>
    </div>
  </div>
</header>